.idea/
.vs/
.vscode/

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
TestResults/

*.user
*.suo
*.userosscache
*.sln.docstates

build/
cmake_build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
install_manifest.txt
build.ninja
.ninja_deps
.ninja_log
.cache/
BenchmarkDotNet.Artifacts/

/StgSharp.Native/lib/
!/StgSharp.Native/lib/**/CMakeLists.txt